.alertSelected{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: row;
    gap: 2rem;
    padding: 0rem 1rem;
    border: 1px solid #773d9462;
    border-radius: 1rem;
    transform: scale(1);
    transition: background-color 0.5s ease, transform 0.5s ease; 
    background-color: #c227605f;
    margin-left: 8vh;
}

.alertSelected:hover{
    background-color: #c22760af;
}

.description p{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: bold;
  
}