.header{
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
    padding: 20px;
    background-color: #694f8e84;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 3rem;
}

.header-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ffffffc4;
}

.header-logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.header-h1{
    font-size: 3rem;
    color: #fff;
}