.mapa{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-top: 5px;
}
.mapa h2{
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}
.mapa div{
    border-radius: 20px;
}
